@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --destructive-foreground: 0 0% 98%;
    --secondary-foreground: 204 20% 95%;
    --popover-foreground: 83 30% 10%;
    --primary-foreground: 83 20% 95%;
    --accent-foreground: 83 20% 10%;
    --muted-foreground: 83 30% 20%;
    --card-foreground: 83 30% 10%;
    --destructive: 0 84% 60%;
    --background: 83 20% 95%;
    --foreground: 83 30% 10%;
    --secondary: 204 50% 43%;
    --popover: 83 20% 95%;
    --primary: 83 52% 33%;
    --border: 83 20% 80%;
    --accent: 83 52% 55%;
    --muted: 83 20% 85%;
    --input: 83 20% 47%;
    --card: 83 20% 90%;
    --ring: 83 52% 45%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}
