@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --destructive-foreground: 82 18% 95%;
    --secondary-foreground: 82 18% 95%;
    --popover-foreground: 82 38% 12%;
    --primary-foreground: 82 38% 12%;
    --accent-foreground: 82 18% 95%;
    --muted-foreground: 82 38% 12%;
    --card-foreground: 82 38% 12%;
    --destructive: 0 70% 50%;
    --background: 82 18% 95%;
    --foreground: 82 38% 12%;
    --secondary: 30 70% 45%;
    --popover: 82 15% 92%;
    --primary: 82 68% 67%;
    --accent: 30 70% 39%;
    --border: 82 30% 70%;
    --muted: 82 20% 85%;
    --input: 82 30% 41%;
    --card: 82 15% 92%;
    --ring: 82 38% 12%;
    --radius: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}
